html {
    height: 100%;
}

body { 
    background-color: pink !imporant; 
    min-height: 100%;

}

#mainContainer {
    
   
}

.sectionContainer {
    
    text-align: center;
}

.contentContainer {
    border: 1px solid blue;
    display: inline-block;
    width: 95%;
    height: 1000px;
    padding-top: 300px;
}

.midpointColumn {
    border-bottom: 1px solid blue;
}

.col-sm-10 {
    height: 728px;
}

.col-sm-1 {
    background-color: dodgerblue;
    height: 728px;
}

#sidebarContainer {
    
    background-color: blue;
    position: fixed;
    z-index: 1000;
    height: 100px;
    width: 100px;
    right: 0px;
    
}