<!DOCTYPE HTML>

<html ng-app="siteModule">
    <head>
        <!-- meta-tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8"/>
        <!-- /meta-tags -->

        <!-- favicon -->
        <link rel="icon" href="Images/favicon.ico" type="image/x-icon"/>
        <!-- /favicon -->
        
        <!-- css-frameworks -->
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
        <!-- /css-frameworks --> 

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'/>
        <!-- /fonts -->

        <!-- css -->
        <link type="text/css" rel="stylesheet" href="CSS/main/main.css"/>
        <link type="text/css" rel="stylesheet" href="CSS/directives/projectCard.css"/>
        <!-- /css -->

        <!-- js-frameworks -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="JS/plugins/jquery.color.js"></script>
        <!-- /js-frameworks -->

        <!-- js-google-analytics -->
        <script src="JS/plugins/googleAnalytics.js"></script>
        <!-- /js-google-analytics -->

        <!-- scripts -->
        <script src="JS/Modules/module.js"></script>
        <script src="JS/Directives/projectCard.js"></script>
        <script src="JS/pageComponents/constants.js"></script>
        <script src="JS/pageComponents/pageLayout.js"></script>
        <script src="JS/pageComponents/navBar.js"></script>
        <script src="JS/pageComponents/footer.js"></script>
        <!-- /scripts -->

        <title>Sebastian Kolosa</title>
    </head>

    <body ng-controller="pageLayoutController">
        <div id="loadingMask"></div>
        <div id="navBar" ng-controller="navBarController">
            <p class="navBarText" id="navBarTextName" ng-click="scrollTo('#sectionHome')" ng-mouseover="onLinkHover('#navBarTextName')" ng-mouseleave="offLinkHover('#navBarTextName')">Sebastian Kolosa</p>
            <ul class="navBarTabsList">
                <li class="navBarElement">
                    <a class="navBarText" id="navBarTextResume" href="Resume/Resume.pdf" ng-mouseover="onLinkHover('#navBarTextResume')" ng-mouseleave="offLinkHover('#navBarTextResume')">Resume</a>
                </li>
                <li class="navBarElement">
                    <p class="navBarText" id="navBarTextAbout" ng-click="scrollTo('#sectionAbout')" ng-mouseover="onLinkHover('#navBarTextAbout')" ng-mouseleave="offLinkHover('#navBarTextAbout')">About</p>
                </li>
                <li class="navBarElement">
                    <p class="navBarText" id="navBarTextProjects" ng-click="scrollTo('#sectionProjects')" ng-mouseover="onLinkHover('#navBarTextProjects')" ng-mouseleave="offLinkHover('#navBarTextProjects')">Projects</p>
                </li>
                <li class="navBarElement">
                    <p class="navBarText" id="navBarTextContact" ng-click="scrollTo('#sectionContact')" ng-mouseover="onLinkHover('#navBarTextContact')" ng-mouseleave="offLinkHover('#navBarTextContact')">Contact</p>
                </li>
            </ul>
            <div id="hamburgerCollapseToggle" data-toggle="collapse" aria-expanded="false" data-target="#collapsedNavBarTabContainer" aria-controls="collapsedNavBarTabContainer" ng-mouseover="onHamburgerHover()" ng-mouseleave="offHamburgerHover()">
                <span class="glyphicon glyphicon-menu-hamburger" id="hamburgerIcon"></span>
            </div>
            <div class="panel-collapse collapse hidden-sm hidden-md hidden-lg" id="collapsedNavBarTabContainer" aria-labelledby="hamburgerCollapseToggle">
                <ul class="list-group">
                    <a href="Resume/Resume.pdf">
                        <li class="list-group-item" id="collapsableTextResume" ng-mouseover="onLinkHover('#collapsableTextResume')" ng-mouseleave="offLinkHover('#collapsableTextResume')">Resume</li>
                    </a>
                    <li class="list-group-item" id="collapsableTextAbout" ng-click="scrollTo('#sectionAbout')" ng-mouseover="onLinkHover('#collapsableTextAbout')" ng-mouseleave="offLinkHover('#collapsableTextAbout')">About</li>
                    <li class="list-group-item" id="collapsableTextProjects" ng-click="scrollTo('#sectionProjects')" ng-mouseover="onLinkHover('#collapsableTextProjects')" ng-mouseleave="offLinkHover('#collapsableTextProjects')">Projects</li>
                    <li class="list-group-item" id="collapsableTextContact" ng-click="scrollTo('#sectionContact')" ng-mouseover="onLinkHover('#collapsableTextContact')" ng-mouseleave="offLinkHover('#collapsableTextContact')">Contact</li>
                <ul>
            </div>
        </div>
        <div id="mainContainer">
            <div class="sectionContainer" id="sectionHome">
                <div class="contentContainer" id="contentHome">
                    <div id="homeTextContainer" ng-controller="scrollController">
                        <h2>SEBASTIAN KOLOSA</h2>
                        <p>Student | Developer | Innovator</p>
                        <a href="https://github.com/Seabsaye" target="_blank">
                            <i class="fa fa-github-alt homeContactIcon"></i>
                        </a>
                        <a href="mailto:sebastian.kolosa@gmail.com" target="_blank">
                            <i class="fa fa-envelope homeContactIcon" id="homeMailIcon"></i>
                        </a>
                        <a href="https://ca.linkedin.com/in/sebastian-kolosa-20236b113" target="_blank">
                            <i class="fa fa-linkedin homeContactIcon"></i>
                        </a>
                        <i class="fa fa-angle-double-down" id="homeArrowDrop" ng-click="scrollTo('#sectionAbout')" ng-mouseover="augmentPosition($event, 'vertical', '5')" ng-mouseleave="augmentPosition($event, 'vertical', '0')"></i>
                    </div>
                </div>
            </div>
            <div class="sectionContainer" id="sectionAbout">
                <div class="contentContainer" id="contentAbout" ng-controller="scrollController">
                    <h2 class="contentHeader">ABOUT ME</h2>
                    <div class="stylisticBar"></div>
                    <h4 class="contentSubHeader">A couple words.</h4>
                    <p>Hey! My name is Sebastian Kolosa, and I'm a <a href="https://uwaterloo.ca/systems-design-engineering/" target="_blank" ng-mouseover="onLinkHover($event)" ng-mouseleave="offLinkHover($event)">Systems Design Engineering</a> student at the University of Waterloo. I would define myself as a curious life-long learner who has a growing interest in the fields of <a href="" ng-click="scrollTo('#sectionProjects')" ng-mouseover="onLinkHover($event)" ng-mouseleave="offLinkHover($event)">software and technology</a> coupled with an already deep-rooted gravitation towards the design process.</p>
                </div>
            </div>
            <div class="sectionContainer" id="sectionProjects">
                <div class="contentContainer" id="contentProjects" ng-controller="cardController">
                    <div class="contentProjectsText">   
                        <h2 class="contentHeader">PROJECTS</h2>
                        <div class="stylisticBar"></div>
                        <h4 class="contentSubHeader">Things I've worked on recently.</h4>
                    </div>
                    <project-card ng-repeat="project in projects" type="project" ></project-card>
                </div>
            </div>
            <div class="sectionContainer" id="sectionContact" ng-controller="footerController">
                <div class="contentContainer" id="contentContact">
                    <a href="https://github.com/Seabsaye" target="_blank">
                        <div class="connectSquare" ng-mouseover="buttonOnHover($event)" ng-mouseleave="buttonOffHover($event)">
                            <i class="fa fa-github-alt"></i>
                        </div>
                    </a>
                    <a href="mailto:sebastian.kolosa@gmail.com" target="_blank">
                        <div class="connectSquare" ng-mouseover="buttonOnHover($event)" ng-mouseleave="buttonOffHover($event)">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </a>
                    <a href="https://ca.linkedin.com/in/sebastian-kolosa-20236b113" target="_blank">
                        <div class="connectSquare" ng-mouseover="buttonOnHover($event)" ng-mouseleave="buttonOffHover($event)"> 
                            <i class="fa fa-linkedin"></i>
                        </div>
                    </a>
                    <h6 id="copyrightStatement">Copyright &copy 2017 Sebastian Kolosa</h6>
                </div>
            </div>
        </div>
    </body>
</html>