@font-face {
    font-family: Corporative_Sans;
    src: url("Fonts/Corporative_Sans_Desktop/CorporativeSans-Book.otf");
}

@font-face {
    font-family: Hello_Beautiful_Alternates;
    src:    url("Fonts/Hello_Beautiful_Alternates/HelloBeaAltReg.ttf");  
}

p {
    font-family: Corporative_Sans;
}

body {
    background-color: #050523;
    padding-top: 702px;
}

header {
    background-image: url("IMG_2426 (4).jpg");
    background-size: auto;
    padding-bottom: 450px;
    position: fixed;
    width: 100%;
    top: 0;    
}

.navbar, header {
    position: fixed;
    width: 100%;
    top: 0;  
}

#Introduction {
    text-align: center;
    border-bottom: 1px solid antiquewhite;
    color: antiquewhite;
}

#name {
    font-family: Hello_Beautiful_Alternates;
    font-size: 100pt;
    margin-top: 25px;
    margin-bottom: 40px;  
}

.inhabitance {
    font-family: Corporative_Sans;
    font-size: 24pt;
    display: inline-block;
    margin-top: -100px;
}

#Introduction p:nth-child(2) {
    margin-right: 75px;
    margin-left: -75px;
}

#Introduction p:nth-child(3) {
    margin-right:75px; 
}

.navbar {
    text-align: center;
    font-family: Corporative_Sans;
    position: relative;
    background-color: #050523;  
}

.navbar li {
    color: antiquewhite;
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
    border: 1px solid white;
}

.navbar ul {
    margin-right: 40px;
}

.Home {
    background-color: #050523;
    height: 2290px;
    width: 100%;
    margin: auto;
    position: relative;
}

#main {
    padding-top: 55px;
    height: 675px;
    margin-top: 55px;
    margin-left: 55px;
    margin-right: 55px;
}

li:hover {
    background-color: #050523;
}

.main {
    background-color: lightcyan;
    height: 625px;
}

#portrait_container {
    float:left;
    width: 309px;
    height: 452px;
    background-color: antiquewhite;
    margin-left: 17.5px;
    margin-top: 17.5px;
    box-shadow: 2px 2px 1px black;
    border: 1px solid black;
}

#portrait {
    margin-top: 10px;
    margin-left: 10px;
    height: 430px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.content {
    float: right;
    margin-right: 17.5px;
    margin-top: 17.5px;
    background-color: antiquewhite;
    height: 452px;
    width: 500px;
    width: 747px;
    box-shadow: 2px 2px 1px black;
    border: 1px solid black;
}

#myself_inner {
    margin-right: 10px;
    margin-top: 10px;
    width: 725px;
    box-shadow: none;
    height: 430px;
    background-color: antiquewhite;
}

#project {
    padding-top: 55px;
    height: 675px;
    margin-left: 55px;
    margin-right: 55px; 
}

.title {
    float: left;
    text-align: center;
    font-family: Corporative_Sans;
    color: black;
    margin-top: 17.5px;
    width: 50%;
    margin-left: 288px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 1px black;
    border: 1px solid black;
}

#video_container {
    float: left;
    margin-left: 17.5px;
    margin-top: 75px;
    box-shadow: 2px 2px 1px black;
    height: 336px;
    border: 1px solid black;
}

#video {
    margin: 10px;
    border: 1px solid black;
}

.vest_content {
    float: right;
    margin-right: 17.5px;
    background-color: antiquewhite;
    margin-top: 75px;
    box-shadow: 2px 2px 1px black;
    height: 336px;
    width: 476px;
    border: 1px solid black;
}

#projects_inner {
    margin-right: 10px;
    margin-top: 10px;
    width: 454px;
    box-shadow: none;
    height: 314px;
    background-color: antiquewhite;
}

.inner_paragraph {
    font-family: Corporative_Sans;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#contact {
    padding-top: 55px;
    height: 675px;
    margin-left: 55px;
    margin-right: 55px;
}

.big_content {
    float: left;
    background-color: antiquewhite;
    margin-left: 17.5px;
    margin-top: 17.5px;
    height: 490px;
    width: 96.5%;
    box-shadow: 2px 2px 1px black;
    border: 1px solid black;   
}

#contact_info { 
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
