body { 
    font-size: 16px !important; 
    font-family: 'Open Sans', sans-serif !important;

    /* disable font-weight increase with white background */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

#loadingMask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../../Images/ripple.gif") center no-repeat #000000;
}

.sectionContainer {
    text-align: center;
    background-color: #f2f2f2;
}

#sectionHome {
    background-image: url("../../Images/background.jpg"); 
    background-size: cover;
}

.contentContainer {
    display: inline-block;
    width: 95%;
}

#homeTextContainer {
    display: inline-block;
    position: relative;
    top: 36%;
    color: #FFFFFF;
}

.homeContactIcon {
    margin-top: 6px;
    font-size: 20px;
}

#homeMailIcon {
    margin: 0px 18px;
}

#homeArrowDrop {
    display: block;
    position: relative;
    z-index: 0;
    width: 32px;
    height: 32px;
    margin: auto;
    margin-top: 16%;
    font-size: 36px;
    cursor: pointer;
}

#homeBackground {
    margin:0;
    width: 100%;
}

.midpointColumn {
    border-bottom: 1px solid blue;
}

.stylisticBar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0px;
    width: 40px;
}

#sectionAbout .stylisticBar {
    border: 3px solid #FFFFFF;
}

#sectionProjects .stylisticBar {
    border: 3px solid #000000;
}

.contentSubHeader {
    margin-bottom: 30px;
}

#navBar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #FFFFFF;
}

#navBar p {
    display: inline-block;
}

.navBarTabsList {
    width: 60%;
    text-align: right;
    list-style: none;
    float: right;
    right: 0px;
    padding: 0;
    margin: 0;
}

.navBarElement {
    display: inline-block;
    margin: 0px 12px;
    height: 32px;
}

.navBarElement a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.navBarText {
    margin: 14px 0px 0px 0px;
    color: #FFFFFF;
    cursor: pointer;
}

#navBarTextName {
    margin: 10px 0px 0px 15px;
    font-size: 20px;
}

#navBarTextContact {
    margin-right: 3px;
}

#hamburgerCollapseToggle {
    border-radius: 6px;
    float: right;
    position: relative;
    border: 1px solid #e6e6e6;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 30px;
    margin: 9px 12px 9px 0px;
    cursor: pointer;
    display: none;
}

#hamburgerIcon {
    margin-top: 13%;
}

#collapsedNavBarTabContainer {
    margin-top: 10px;
}

.list-group a {
    text-decoration: none;
    color: #000000;
}

.list-group-item:first-child {
    border-radius: 0px !important;
}

#collapsableTextContact {
    padding-bottom: 20px;
}

.list-group-item {
    border: none !important;
    background-color: rgba(255,255,255,1) !important;
    cursor: pointer;
}

.list-group-item a:link, .list-group-item a:hover, .list-group-item a:visited, .list-group-item a, #contentContact a {
    text-decoration: none;
    color: #000000;
}

#homeTextContainer a {
    text-decoration: none;
    color: #FFFFFF;
}

#contentAbout a {
    text-decoration: none;
    color: #1AA0D6;
}

#sectionAbout {
    position: relative;
    z-index: 1;
    background-color: rgb(16,13,25); /*31322e*/
    color: #FFFFFF;
}

#contentAbout {
    padding: 60px 0px 68px 0px;
}

#contentProjects {
    padding-bottom: 12px;
}

.contentProjectsText {
    padding-top: 17px;
}

#sectionContact {
    background-color: #FFFFFF;
    height: 167px;
}

.connectSquare {
    display: inline-block;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
}